.view-form-cards
  = simple_form_for @card, url: url do |f|
    .form-deck-title
      %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
        = image_tag "icons8-left.png", {"aria-hidden" => "true"}
      %h3= title

    .form-cards-title
      = f.error_notification
      = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

    .form-cards-cont
      .cards-input
        %p Question:
        = f.input :question, label: false
      
      .cards-attach
        %p Question Image:
        = f.file_field :img_question, multiple: false, accept: ".jpg,.png", id: "question_file", class: 'cards_form_file'
        = image_tag url_for(@card.img_question), class: 'question_file' if @card.img_question.attached?

      .cards-input
        %p Answer:
        = f.input :description, label: false
      
      .cards-attach
        %p Answer Image:
        = f.file_field :img_answer, multiple: false, accept: ".jpg,.png", id: "answer_file", class: 'cards_form_file'
        = image_tag url_for(@card.img_answer), class: 'answer_file' if @card.img_answer.attached?


      .form-cards-actions
        = f.button :submit, :class => "cards-button"

= javascript_pack_tag 'cards_form'
