%p Qualification
%ul 
  %li.qualification{value: "1"}
    = image_tag 'Star-confav'
  %li.qualification{value: "2"}
    = image_tag 'Star-confav'
  %li.qualification{value: "3"}
    = image_tag 'Star-confav'
  %li.qualification{value: "4"}
    = image_tag 'Star-confav'
  %li.qualification{value: "5"}
    = image_tag 'Star-confav'
