.views

  .views-title-show{:style => "background: #{@deck.deck_color};" }

    .image-title
    
      = link_to image_tag("icons8-left.png"), decks_path 
      %h1{:style => "color: #{@deck.font_color};"}= @deck.name

    %p{:style => "color: #{@deck.font_color};"}= @deck.description

  .cont-view-deck-options

    .deck-options

      .cont-deck

        = image_tag "juego-de-cartas-black.png"
        %p= "#{@cards.length} Cards"

      .cont-deck

        = image_tag "Star 2.png"
        %p= @deck_score.qualification

      .cont-deck.profile
        = image_tag url_for("https://robohash.org/#{@deck.owner.account.nickname}") unless @deck.owner.account.avatar.attached?
        = image_tag url_for(@deck.owner.account.avatar) if @deck.owner.account.avatar.attached?

        %p= @deck.owner.account.username

    .deck-options

      .cont-deck.rigth

        - if @deck.favorites.blank?
          = link_to "Add to favorites", favorites_path(deck_id: @deck.id), method: :post
          = image_tag 'Star-sinfav.png', alt: '', height: '', width: '', class: ''
        - else 
          = link_to "Remove to favorites", favorite_path(@deck.id), method: :delete
          = image_tag 'Star-confav.png', alt: '', height: '', width: '', class: ''
      
      .cont-deck.rigth

        %p= "Your score: #{@deck_score.score}"
        = image_tag 'score.png', alt: '', height: '', width: '', class: ''

      .cont-deck.rigth

        %p= "Successful cards: #{@deck_score.successful_cards} / #{@cards.length}"
        = image_tag 'success.png', alt: '', height: '', width: '', class: ''

  .cont-view-deck-btn

    = link_to 'Start', game_path(deck_code: @deck.code), id: "startGame" unless @cards.blank?
    = link_to 'Cards', deck_cards_path(deck_code: @deck.code) 
    = link_to 'Edit', edit_deck_path(@deck), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#deck-modal'}
    = render 'decks/decks_modal'


